<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>User RegistrationEmail</title>

  </head>

  <body style="font-family: Arial, sans-serif;background-color: #f7f7f7; padding: 20px;">

    <div class="email-container" style = "max-width: 600px;margin: 0 auto;background-color: #fff;border-radius:
            10px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);padding: 20px;">

      <h1 style = "color: #007bff;">Registration Successful</h1>

      <p style = "color: #333;line-height: 1.6;">
        Congratulations <strong>{{ username }}</strong>.... Your registration on
        our website was successful. We are thrilled to welcome you to our
        community.</p>
    </div>
  </body>
</html>
